<!DOCTYPE html>
<!-- Data page of the website -->
<html lang="en">

    <head>
        <meta charset="UTF-8"/>
        <meta name="description" content="Data Science Project"/>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/styles.css') }}">
        <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/favicon.png') }}">

        <title>Laptop Portal</title>

        <script src="{{ url_for('static', filename='scripts/d3.v5.min.js') }}"></script>
        <script src="{{ url_for('static', filename='scripts/project.js') }}"></script>
    </head>

    <body id = "main-background">
        <div id = 'content'>
            <br>
            <nav>
                <a href="index.html">Home</a>
                <a href="search.html">Search</a>
                <a href="about.html">About</a>
                <a href="data.html">Data</a>
                <a href="references.html">References</a>
            </nav>
            <header>
                <br>
                <div class="line"></div>
                    <div style="display:inline-block;">
                        <h1>Data<h1>
                    </div>
                <div class="line"></div>
                <h2>Where did the data come from?</h2>
            </header> 

            <p class= "text" style="padding-bottom: 20px !important;">
                The website is currently using data from different retail sites. They are:<br>
                <ul class="text">
                    <li><a class="a-tag-normal" href="https://fptshop.com.vn/may-tinh-xach-tay">FPT Shop</a></li>
                    <li><a class="a-tag-normal" href="https://www.dienmayxanh.com/laptop">Dien may xanh</a></li>
                    <li><a class="a-tag-normal" href="https://phongvu.vn/c/laptop">Phong Vu Store</a></li>
                </ul>
            </p>
            
            <br>
        </div>
        <footer>
            Contact:<a href="mailto:nguyenminhmannh2001@gmail.com"> Minh Manh</a>, IT4930 Introduction to Data Science, 2022.
        </footer>
    </body>
</html>