<!DOCTYPE html>
<!-- refrences for the project -->
<html lang="en">

    <head>
        <meta charset="UTF-8"/>
        <meta name="description" content="Laptop Portal"/>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/styles.css') }}">
        <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/favicon.png') }}">

        <title>Laptop Portal</title>

        <script src="{{ url_for('static', filename='scripts/d3.v5.min.js') }}"></script>
        <script src="{{ url_for('static', filename='scripts/project.js') }}"></script>
    </head>

    <body id = "main-background">
        <div id = 'content'>
            <br>
            <nav>
                <a href="index.html">Home</a>
                <a href="search.html">Search</a>
                <a href="about.html">About</a>
                <a href="data.html">Data</a>
                <a href="references.html">References</a>
            </nav>
            <header>
                <br>
                <div class="line"></div>
                    <div style="display:inline-block;">
                        <h1>References<h1>
                    </div>
                <div class="line"></div>
                <h2>Who helped me out here?</h2>
            </header> 

            <p class = "text" style="padding-bottom: 10px !important;">
                I want to thank:
            </p>
            <ul class="text" style="padding-bottom: 10px !important;">
                <li><a class="a-tag-normal" href="mailto:hung.pv194068@sis.hust.edu.vn">Nguyen Duc Lam</a></li>
                <li><a class="a-tag-normal" href="mailto:lam.nd194090@sis.hust.edu.vn">Pham Van Hung</a></li>
                <li><a class="a-tag-normal" href="mailto:tuan.na194201@sis.hust.edu.vn">Nguyen Anh Tuan</a></li>
            </ul>
            <p class = "text">
                They are members on my study group who helped me so much.
                <br>
                Since this is all for educational purposes, All the code will be open and provided on github.
            </p>
            
            <br>  
        </div>
        <footer>
            Contact:<a href="mailto:nguyenminhmannh2001@gmail.com"> Minh Manh</a>, IT4930 Introduction to Data Science, 2022.
        </footer>
    </body>

</html>
