<!DOCTYPE html>
<!-- Data page of the website -->
<html lang="en">

    <head>
        <meta charset="UTF-8"/>
        <meta name="description" content="Data Science Project"/>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/styles.css') }}">
        <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/favicon.png') }}">
        
        <title>Laptop Portal</title>
        
        <script src="{{ url_for('static', filename='scripts/d3.v5.min.js') }}"></script>
        <script src="{{ url_for('static', filename='scripts/project.js') }}"></script>
        <style>
            .input-box {
                height: 30px;
                width: 30%;
                line-height: 30px;
                font-size: 17px;
                padding-left: 5px;
                padding-right: 5px;
            }
        </style>
    </head>

    <body id = "main-background">
        <div id = 'content'>
            <br>
            <nav>
                <a href="index.html">Home</a>
                <a href="search.html">Search</a>
                <a href="about.html">About</a>
                <a href="data.html">Data</a>
                <a href="references.html">References</a>
            </nav>
            <header>
                <br>
                <div class="line"></div>
                    <div style="display:inline-block;">
                        <h1>Searching Laptops<h1>
                    </div>
                <div class="line"></div>
                <h2>Make a query</h2>
            </header> 

            <form method="post" action="search.html">
                <div>
                    {% if query %}
                        <input name="query" type="text" class="input-box" placeholder="I am looking for..." value="{{ query }}">
                    {% else %}
                        <input name="query" type="text" class="input-box" placeholder="I am looking for...">
                    {% endif %}
                </div>
            </form>

            {% if query and no_results > 0 %}
                <div style="margin-top: 15px; cursor: default;">Find {{ no_results }}  results for your query: <span style="font-style: italic; text-decoration: underline; font-size: 17px;"> {{ query }} - {{ corresponding_attributes }} </span> </div>
                <div style="margin-top: 20px;">
                    <table>
                        <tr>
                            <th>Name</th>
                            <th>Price (MM VND)</th>
                            <th>CPU</th>
                            <th>RAM</th>
                            <th>Disk Space</th>
                            <th>Graphics Card</th>
                            <th>Weight (kg)</th>
                            <th>Screen Size (inches)</th>
                            <th>Brand</th>
                            <th>Shop</th>
                            <th>Link</th>
                        </tr>
                    {% for key, value in results.items() %}
                        <tr>
                            <th>{{ value['name'] }}</th>
                            <th>{{ value['price'] }}</th>
                            <th>{{ value['cpu'] }}</th>
                            <th>{{ value['ram'] }}GB</th>
                            <th>{{ value['memory'] }}GB SSD</th>
                            <th>{{ value['gpu'] }}</th>
                            <th>{{ value['weight'] }}</th>
                            <th>{{ value['scrsize'] }}</th>
                            <th>{{ value['brand'] }}</th>
                            <th>{{ value['shop'] }}</th>
                            <th><a href="{{ value['url'] }}" class="table-link">Details (external)</a></th>
                        </tr>
                    {% endfor %}
                    </table>
                </div>
            {% else %}
                <div style="margin-top: 15px; cursor: default;">Cannot find a product with that specifications. Please try new query.</div>
            {% endif %}

            <br>
        </div>
        <footer>
            Contact:<a href="mailto:nguyenminhmannh2001@gmail.com"> Minh Manh</a>.
        </footer>
    </body>
</html>